<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wow, Such Gear</title>
    <meta property="og:title" content="Wow, Such Gear" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wowsuchgear.com" />
    <meta property="og:image" content="https://d33wubrfki0l68.cloudfront.net/180a564eb266a3c42c1f11a9b68926c9f7b019f9/e3901/assets/images/doge-180a564e.jpg" />
    <%= stylesheet_link_tag "main" %>
  </head>
  <body data-body>

    <header>
      <%= partial "partials/site-info" %>
      <%= partial "partials/nav" %>
    </header>

    <main>
      <%= partial "partials/items" %>

      <div class="footer">
        <%= partial "partials/footer" %>
      </div>
    </main>

    <%= partial "partials/analytics" %>
    <script src="assets/javascripts/jquery.js"></script>
    <script src="assets/javascripts/scripts.js"></script>
  </body>
</html>
