<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lots of Gear</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>

    <header>
      <%= partial "partials/header__info" %>
      <%= partial "partials/nav" %>
    </header>

    <main>
      <%= partial "partials/items" %>
    </main>

    <%= partial "partials/analytics" %>
    <script src="assets/javascripts/jquery.js"></script>
    <script src="assets/javascripts/nav.js"></script>
  </body>
</html>
