<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wow, Such Gear</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body data-body>

    <header>
      <%= partial "partials/site-info" %>
      <%= partial "partials/nav" %>
    </header>

    <main>
      <%= partial "partials/items" %>

      <div class="footer">
        <%= partial "partials/footer" %>
      </div>
    </main>

    <%= partial "partials/analytics" %>
    <script src="assets/javascripts/jquery.js"></script>
    <script src="assets/javascripts/scripts.js"></script>
  </body>
</html>
